.NavBarCustom  ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000; 
	} 
 
.NavBarCustom  ul li {  
	display: inline; 
	} 
 
.NavBarCustom  ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
	} 
 
.NavBarCustom  ul li a:hover { 
	color: #000; 
	background-color: #fff; 
	} 

.SignInButton {
	text-decoration: none; 
	color: #fff; 
	background-color: #000;
	float: right; 
}

.SignInButton button {
	text-decoration: none; 
	color: #fff; 
	background-color: #000;
	float: right; 
    border: none;

}

.SignInButton button:hover {
	text-decoration: none; 
	color: #000; 
	background-color: #fff;
	float: right; 
    border: none;

}